{% extends 'core/inside_devices.html' %}
{% block title %}Mikrotik Details{% endblock title %}
{% block content %}
<section>
    <div class="container-fluid">
        <div class="base-title">
            <h3>Mikrotik Details:</h3>
        </div>
        <div class="search-arera my-3">
            <form method="get">
                {{filters.form}}
                <button class="btn btn-sm btn-outline-primary" type="submit">Search</button>
            </form>
        </div>
        <div class="fiber-details-wrappers">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <td scope="col"><a class="btn btn-primary" href="{% url 'mikrotik-add' %}">Add
                                New Entry</a></td>
                        <td colspan="7">Total: {{total.price__sum}}/= Tk</td>
                    </tr>
                    <tr>
                        <th scope="col">S/L</th>
                        <th scope="col">Date</th>
                        <th scope="col">Model</th>
                        <th scope="col">Serial Number</th>
                        <th scope="col">Pop Name</th>
                        <th scope="col">Status</th>
                        <th scope="col">Price</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for mikrotik in mikrotiks %}
                    <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td>{{mikrotik.date}}</td>
                        <td>{{mikrotik.model}}</td>
                        <td>{{mikrotik.serial_number}}</td>
                        <td>{{mikrotik.pop_name}}</td>
                        <td>{{mikrotik.status}}</td>
                        <td>{{mikrotik.price}}</td>
                        <td>
                            <a class="btn btn-primary ml-1" href="{% url 'mikrotik-update' mikrotik.id %}">Edit</a>
                            {% if request.user.admin %}
                            <a class="btn btn-danger ml-1" href="{% url 'mikrotik-del' mikrotik.id %}">Del</a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if mikrotiks.has_previous %}
            <a class="btn prev-btn btn-success mb-3" href="?p={{mikrotiks.previous_page_number}}">previous</a>
            {% endif %}
            {{mikrotiks.number}}
            {% if mikrotiks.has_next %}
            <a class="btn next-btn btn-success mb-3" href="?p={{mikrotiks.next_page_number}}">next</a>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}