{% extends 'core/earning/earning_base.html' %}
{% block title %}Add Earning Details{% endblock title %}
{% block content %}
<section>
    <div class="container-fluid">
        <div class="form-title">
            <h3>Add New Earning details: </h3>
        </div>
        <div class="form-wrapper">
            <form class="edit-form-profit" action="" method="post">
                {% csrf_token %}
                <div class="form-left">
                    {{form.earning_details.label_tag}}
                    {{form.earning_details}}
                    {{form.earning_details.errors}}
                    {{form.earning_amount.label_tag}}
                    {{form.earning_amount}}
                    {{form.earning_amount.errors}}
                </div>
                <input class="btn btn-primary sub-btn" type="submit" value="Update">
            </form>
        </div>
    </div>
</section>

{% endblock %}