{% extends 'core/base.html' %}
{% block title %}Device Dashboard{% endblock title %}
{% block navbar %}

<li class="nav-item">
    <a class="nav-link" href="{% url 'client-show' %}">Client's</a>
</li>

<li class="nav-item">
    <a class="nav-link" href="{% url 'package-show' %}">Package</a>
</li>

<li class="nav-item">
    <a class="nav-link" href="{% url 'devicesInfo' %}">Devices</a>
</li>

<li class="nav-item">
    <a class="nav-link" href="{% url 'fiber-show' %}">Fiber</a>
</li>

<li class="nav-item">
    <a class="nav-link" href="{% url 'mikrotik-show' %}">Mikrotik</a>
</li>

<li class="nav-item">
    <a class="nav-link" href="{% url 'olt-show' %}">Olt</a>
</li>

<li class="nav-item">
    <a class="nav-link" href="{% url 'onu-show' %}">Onu</a>
</li>

<li class="nav-item">
    <a class="nav-link" href="{% url 'switch-show' %}">Switch</a>
</li>


<li class="nav-item">
    <a class="nav-link" href="{% url 'router-show' %}">Router</a>
</li>

<li class="nav-item">
    <a class="nav-link" href="{% url 'pop-show' %}">Pop</a>
</li>

{% endblock navbar %}
{% block content %}
<div class="container-fluid">
    <div class="row justify-content-around">
        <div class="col-lg-4 user-panel">
            <h1>Fiber Panel:</h1>
            <hr />
            <h3>Total Fiber: {{total_fiber.metre__sum}} Metre</h3>
            <h3>Active Fiber: {{active_fiber}}</h3>
            <h3>Inactive Fiber: {{store_fiber}}</h3>
            <h3>Damage Fiber: {{damage_fiber}}</h3>
            <h3>Fiber Price: {{total_fiber_price.price__sum}}</h3>

        </div>
        <div class="col-lg-4 user-panel">
            <h1>Mikrotik Panel:</h1>
            <hr />
            <h3>Total Mikrotik: {{total_mikrotik}}</h3>
            <h3>Active Mikrotik: {{active_mikrotik}}</h3>
            <h3>Inactive Mikrotik: {{store_mikrotik}}</h3>
            <h3>Damage Mikrotik: {{damage_mikrotik}}</h3>
            <h3>Mikrotik Price: {{total_mikrotik_price.price__sum}}</h3>

        </div>
        <div class="col-lg-4 user-panel">
            <h1>Olt Panel:</h1>
            <hr />
            <h3>Total Olt: {{total_olt}}</h3>
            <h3>Active Olt: {{active_olt}}</h3>
            <h3>Inactive Olt: {{store_olt}}</h3>
            <h3>Damage Olt: {{damage_olt}}</h3>
            <h3>Olt Price: {{total_olt_price.price__sum}}</h3>
        </div>
    </div>
    <div class="row justify-content-around mb-4">
        <div class="col-lg-4 user-panel">
            <h1>Onu Panel:</h1>
            <hr />
            <h3>Total Onu: {{total_onu}}</h3>
            <h3>Active Onu: {{activeonur}}</h3>
            <h3>Inactive Onu: {{store_onu}}</h3>
            <h3>Damage Onu: {{damage_onu}}</h3>
            <h3>Onu Price: {{total_onu_price.price__sum}}</h3>

        </div>
        <div class="col-lg-4 user-panel">
            <h1>Switch Panel:</h1>
            <hr />
            <h3>Total Switch: {{total_switch}}</h3>
            <h3>Active Switch: {{active_switch}}</h3>
            <h3>Inactive Switch: {{store_switch}}</h3>
            <h3>Damage Switch: {{damage_switch}}</h3>
            <h3>Switch Price: {{total_switch_price.price__sum}}</h3>
        </div>
        <div class="col-lg-4 user-panel">
            <h1>Router Panel:</h1>
            <hr />
            <h3>Total Router: {{total_router}}</h3>
            <h3>Active Router: {{active_router}}</h3>
            <h3>Inactive Router: {{store_router}}</h3>
            <h3>Damage Router: {{damage_router}}</h3>
            <h3>Router Price: {{total_router_price.price__sum}}</h3>

        </div>
    </div>
</div>
{% endblock content %}