{% extends 'core/base.html' %}
{% block content %}
<div class="container-fluid">
    <!-- user and devices information -->
    <div class="row row-cols-1 row-cols-lg-4 g-2">
        <div class="col">
            <div class="bg-success user-panel">
                <h1 class="text-white">User Panel:</h1>
                <hr class="text-white" />
                <h3 class="text-white">Total User: {{count}}</h3>
                <h3 class="text-white">Active User: {{active}}</h3>
                <h3 class="text-white">Inactive User: {{inactive}}</h3>
            </div>
        </div>
        <div class="col">
            <div class="bg-success user-panel">
                <h1 class="text-white">Paid Panel:</h1>
                <hr class="text-white" />
                <h3 class="text-white">Paid User: {{paid_count}}</h3>
                <h3 class="text-white">Unpaid User: {{unpaid_count}}</h3>
                <h3 class="text-white">Collected Bill: {{collectedBill}} <span>Pending Bill:
                        {{pendingbill}}</span>
                </h3>
            </div>
        </div>
        <div class="col">
            <div class="bg-success user-panel">
                <h1 class="text-white">Devices:</h1>
                <hr class="text-white" />
                <h3 class="text-white">Total Olt: {{total_olt}}</h3>
                <h3 class="text-white">Total Onu: {{total_onu}}</h3>
                <h3 class="text-white">Total Switch: {{total_switch}}</h3>
            </div>
        </div>
        <div class="col">
            <div class="bg-success user-panel">
                <h1 class="text-white">Reseller And Staffs:</h1>
                <hr class="text-white" />
                <h3 class="text-white">Total Reseller: {{reseller_count}}</h3>
                <h3 class="text-white">Total Staff: {{staff_count}}</h3>
            </div>
        </div>
    </div>

    <!-- loged in user details -->
    <div class="user-profile-wrapper mt-3 mb-5">
        <div class="d-flex justify-content-between align-items-center">
            <h1>{{isp_info.name}}</h1>
            {% if request.user.admin %}
            <a class="btn btn-primary" href="{% url 'updateInfo' isp_info.id %}">Update ISP</a>
            {% endif %}
        </div>
        <hr>
        <div class="row row-cols-1 row-cols-lg-3 g-2 mt-3">
            <div class="col">
                <div class="user-panel bg-secondary rounded-3 p-3">
                    <h3 class="text-white">Name: <a class="text-white" href="{% url 'owner-list' %}">
                            {{request.user.first_name}} {{request.user.last_name}}</a>
                    </h3>
                    <h3 class="text-white">Phone: {{request.user.phone}}</h3>
                    <h3 class="text-white"> User type:
                        {% if request.user.admin %}
                        Admin
                        {% elif request.user.owner %}
                        Owner
                        {% endif %}
                    </h3>
                </div>
            </div>
            <div class="col">
                <div class="user-panel bg-success rounded-3 p-3">
                    <h3 class="text-white">ID: {{request.user.clients.client_id}}</h3>
                    <h3 class="text-white">IP: {{request.user.clients.ip_username}}</h3>
                    <h3 class="text-white">Pop: {{request.user.clients.pop_details}}</h3>
                </div>
            </div>
            <div class="col">
                <div class="user-panel bg-warning rounded-3 p-3">
                    <h3 class="text-white">Share: {{request.user.owners.commission}}%</h3>
                    <h3 class="text-white">Invest Amount: {{request.user.owners.invest_amount}} /= Tk</h3>
                    <h3 class="text-white">Earn by Bill: {{profit_amount}} /= Tk</h3>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}